.main-form-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .logo-wrapper {
        display: flex;
        flex-direction: column;
        padding: 200px 100px;
        width: 50%;
        background-color: #004882;
        .login-form-field {
            border: none;
            border-bottom: 1px solid #fff;
            margin: 0 0 10px;
            border-radius: 15px;
            height: 40px;
            padding: 0 20px;
        }
        .login-form-button {
            border: none;
            border-radius: 15px;
            height: 40px;
            color: #fff;
            background: red;
        }
        h1 {
            color: #fff;
            text-align: center;
            padding: 0 0 50px;
        }
    }
}